body {
    background-image: url(project.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: whitesmoke;
}

.border ul {
    color: white;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.border ul li {
    border-right: 2px solid rgba(200,200,200,0.1);
    border-left: 6px solid blue;
    height: 20px;
    color: lightskyblue;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
}

.border ul li:hover {
    text-decoration: underline;
}

.border ul li a {
    color: white;
    text-decoration: none;
}
   